:root {
    /*COLORS*/
    --primary-color-black: #000;
    --primary-color-white: #fff;
    --secondary-color-blue: #7bafd4;
    --secondary-color-green: #aed5b2;
    --secondary-color-yellow: #edff00;
    /*COLORS OPACITY  (100%  75%  50%  25)  */
    /*/////*/
    /*TYPOGRAPHY*/
}