@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Roboto:ital,wght@0,900;1,900&display=swap");
:root {
  /*COLORS*/
  --primary-color-black: #000;
  --primary-color-white: #fff;
  --secondary-color-blue: #7bafd4;
  --secondary-color-green: #aed5b2;
  --secondary-color-yellow: #edff00;
  /*COLORS OPACITY  (100%  75%  50%  25)  */
  /*/////*/
  /*TYPOGRAPHY*/
  --headers-font: Roboto, sans-serif;
  --headers-Lspacing: 2rem;
  --headers-style: uppercase;

  --text-font: Manrope, sans-serif;
}

/* CT - STANDARD CSS SETTINGS CAN BE ADJUSTED */
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

/* NOTES */
/* 375 x 812 - firefox smallest window */
/* 500 x 900 - smallest chrome window */
/* Mobile S - 320w */
